In [1]:
a = 3
b = 2
print(a+b)

5

In [2]:
print(a+8)

11

In [4]:
import requests
res = requests.get('https://tw.stock.yahoo.com/q/q?s=2330')
print res

<Response [200]>

In [8]:
#print res.text

In [9]:
dir(requests)

['ConnectionError',
 'FileModeWarning',
 'HTTPError',
 'NullHandler',
 'PreparedRequest',
 'Request',
 'RequestException',
 'Response',
 'Session',
 'Timeout',
 'TooManyRedirects',
 'URLRequired',
 '__author__',
 '__build__',
 '__builtins__',
 '__copyright__',
 '__doc__',
 '__file__',
 '__license__',
 '__name__',
 '__package__',
 '__path__',
 '__title__',
 '__version__',
 'adapters',
 'api',
 'auth',
 'certs',
 'codes',
 'compat',
 'cookies',
 'delete',
 'exceptions',
 'get',
 'head',
 'hooks',
 'logging',
 'models',
 'options',
 'packages',
 'patch',
 'post',
 'put',
 'request',
 'session',
 'sessions',
 'status_codes',
 'structures',
 'utils',
 'warnings']

In [10]:
help(requests)

Help on package requests:

NAME
    requests

FILE
    c:\anaconda2\lib\site-packages\requests\__init__.py

DESCRIPTION
    Requests HTTP library
    ~~~~~~~~~~~~~~~~~~~~~

    Requests is an HTTP library, written in Python, for human beings. Basic GET
    usage:

       >>> import requests
       >>> r = requests.get('https://www.python.org')
       >>> r.status_code
       200
       >>> 'Python is a programming language' in r.content
       True

    ... or POST:

       >>> payload = dict(key1='value1', key2='value2')
       >>> r = requests.post('http://httpbin.org/post', data=payload)
       >>> print(r.text)
       {
         ...
         "form": {
           "key2": "value2",
           "key1": "value1"
         },
         ...
       }

    The other HTTP methods are supported - see `requests.api`. Full documentation
    is at <http://python-requests.org>.

    :copyright: (c) 2015 by Kenneth Reitz.
    :license: Apache 2.0, see LICENSE for more details.

PACKAGE CONTENTS
    adapters
    api
    auth
    certs
    compat
    cookies
    exceptions
    hooks
    models
    packages (package)
    sessions
    status_codes
    structures
    utils

DATA
    __author__ = 'Kenneth Reitz'
    __build__ = 133377
    __copyright__ = 'Copyright 2015 Kenneth Reitz'
    __license__ = 'Apache 2.0'
    __title__ = 'requests'
    __version__ = '2.9.1'
    codes = <lookup 'status_codes'>

VERSION
    2.9.1

AUTHOR
    Kenneth Reitz

In [11]:
?requests

In [12]:
import requests
payload = {
'qdate':'105/05/06',
'select2':'ALL',
'sorting':'by_issue'    
}

url = 'http://www.twse.com.tw/ch/trading/fund/T86/T86.php'
res = requests.post(url , data = payload )
print res

<Response [200]>

In [22]:
print type(res)
#print res.text

<class 'requests.models.Response'>

## BeautifulSoup

In [23]:
from bs4 import BeautifulSoup 
html_sample = ''' 
<html> 
 <body> 
 <h1 id="title">Hello World</h1> 
 <a href="#" class="link">This is link1</a> 
 <a href="# link2" class="link">This is link2</a> 
 </body> 
 </html>'''

soup = BeautifulSoup(html_sample, 'html.parser')
print type(soup)
print soup.text

<class 'bs4.BeautifulSoup'>



Hello World
This is link1
This is link2

## select by tag

In [24]:
print soup.select('a')

[<a class="link" href="#">This is link1</a>, <a class="link" href="# link2">This is link2</a>]

In [34]:
alinks = soup.select('a')
print alinks[0]
print alinks[1]

<a class="link" href="#">This is link1</a>
<a class="link" href="# link2">This is link2</a>

In [35]:
for qoo in alinks:
    print qoo

<a class="link" href="#">This is link1</a>
<a class="link" href="# link2">This is link2</a>

In [38]:
h1 =  soup.select('h1')
print h1[0]

<h1 id="title">Hello World</h1>

## list operation

- list => []
- dictionary => {}
- tuple = > ()

In [29]:
height = 175
heights = [175, 172, 180]
print heights
print heights[0] # get first element
print heights[-1] # get last element

heights.append(166) #add new element
print heights
heights.pop() # remove last element
print heights
heights.sort() # sort element
print heights

[175, 172, 180]
175
180
[175, 172, 180, 166]
[175, 172, 180]
[172, 175, 180]

## get element by id

In [43]:
#print soup
print soup.select('#title') # id => #
print soup.select('#title')[0]
print soup.select('#title')[0].text

[<h1 id="title">Hello World</h1>]
<h1 id="title">Hello World</h1>
Hello World

## get element by class

In [48]:
#print soup
print soup.select('.link') # class => .
print soup.select('.link')[0] # get first item
print soup.select('.link')[1] # get second item

[<a class="link" href="#">This is link1</a>, <a class="link" href="# link2">This is link2</a>]
<a class="link" href="#">This is link1</a>
<a class="link" href="# link2">This is link2</a>

In [51]:
for link in soup.select('.link'):
    print link
    print link.text

<a class="link" href="#">This is link1</a>
This is link1
<a class="link" href="# link2">This is link2</a>
This is link2

## get property of a tag

In [56]:
link =  soup.select('.link')[0]
print link
print link['href']

<a class="link" href="#">This is link1</a>
#

In [62]:
sample = '<a href="#" qoo=123 qqq=234>this is a link</a>'
soup = BeautifulSoup(sample, 'html.parser')
print soup.select('a')
print soup.select('a')[0]
print soup.select('a')[0]['qoo']
print soup.select('a')[0]['qoo']
print soup.select('a')[0]['href']

[<a href="#" qoo="123" qqq="234">this is a link</a>]
<a href="#" qoo="123" qqq="234">this is a link</a>
123
123
#

## get 2330 price

In [68]:
import requests
from bs4 import BeautifulSoup
res= requests.get('https://tw.stock.yahoo.com/q/q?s=2330')
#print res.text

soup = BeautifulSoup(res.text)
print soup.select('b')
print soup.select('b')[0]
print soup.select('b')[0].text
#print soup.text

[<b>148.0</b>]
<b>148.0</b>
148.0

## get 2330 news

In [74]:
import requests
from bs4 import BeautifulSoup
res= requests.get('https://tw.stock.yahoo.com/q/q?s=2330')

soup = BeautifulSoup(res.text)
for alink in soup.select('div.bd.quote a'): # get all 'a' tag under 'div.bd.quote'
    print alink['href'], alink.text

https://tw.stock.yahoo.com/news_content/url/d/a/20160507/%E7%B6%A0%E8%83%BD%E6%98%AF%E9%96%80%E5%A5%BD%E7%94%9F%E6%84%8F-%E4%B8%AD%E7%A7%91%E5%9C%92%E5%8D%80%E7%94%9F%E6%A9%9F%E8%93%AC%E5%8B%83-055324594.html 綠能是門好生意 中科園區生機蓬勃
https://tw.stock.yahoo.com/news_content/url/d/a/20160507/%E5%8F%B0%E5%8C%97%E8%82%A1%E5%B8%82-%E6%90%B6%E6%8A%B1%E8%98%8B%E6%9E%9C%E9%8F%88-%E4%BB%8A%E5%B9%B4-%E5%A0%B4%E7%A9%BA-025624477.html 《台北股市》搶抱蘋果鏈，今年一場空
https://tw.stock.yahoo.com/news_content/url/d/a/20160506/%E5%85%AC%E5%91%8A-%E5%8F%B0%E7%A9%8D%E9%9B%BB%E4%BB%A3%E5%AD%90%E5%85%AC%E5%8F%B8-tsmc-global-ltd-095950473.html 【公告】台積電代子公司 TSMC Global Ltd. 取得BBT之普通公司債
https://tw.stock.yahoo.com/news_content/url/d/a/20160506/%E8%AD%89%E4%BA%A4%E6%89%80-%E4%BB%8A%E6%97%A5%E5%96%AE-%E8%AD%89%E5%88%B8%E9%89%85%E9%A1%8D%E6%88%90%E4%BA%A4%E8%82%A1%E7%A5%A8-%E9%B4%BB%E6%B5%B7-%E5%8F%B0%E7%A9%8D%E9%9B%BB-091645655.html 《證交所》今日單一證券鉅額成交股票：鴻海、台積電
https://beap.gemini.yahoo.com/mbclk?bv=1.0.0&es=uUS8cI8GIS8FAvQzmnCzcXoRL3VQimZHCK61CCRR2KAwUYx.0HOPnghHB04eOgXrTtWdelNvN1qmU1WtaEm6EwPYQhY1o9bTh2hAED8K56IK62LDLfDl7CufjsK1pOZl.l6gAeQlOHMJvRVYSmaO1.ugmK.bcSofI9SOZUGfcclS_KRSKH1z_4fMVS5TsIDkbzIT68rOCdxS6BjpL3k_3C7Na60shh9kVUd7XnyByyRFl0TdTIQkFvxfVNHzlzNWfr4XNbpKnjiu7H3JngE_K6F4DsWRdTkZIAYlb41PFvInef.rPKj.LaU2wjEfLrSQ3JQBRkbRAHIRZQ8Ml5iSmEvokXOvbLxPvSrinOquN_KEBlIPd8sDCDFHxedU7nk3Kljld4QfepuwQ51E.X292wCD_r31XCQMQryN4sN5QdkjjKbS7rzSdUkmYCKDMZesRC6C74V4.f3q1p9Hn9fd4SS3J8xcVfCaiyZ9flNV%26lp= 【台灣優良精品】無毒建材搶鋒頭！歐美住家指定使用
https://tw.emarketing.yahoo.com/ysmacq/project.html

In [76]:
for alink in soup.select('.quote a'): # get all 'a' tag under 'div.bd.quote'
    print alink['href'], alink.text

https://tw.stock.yahoo.com/news_content/url/d/a/20160507/%E7%B6%A0%E8%83%BD%E6%98%AF%E9%96%80%E5%A5%BD%E7%94%9F%E6%84%8F-%E4%B8%AD%E7%A7%91%E5%9C%92%E5%8D%80%E7%94%9F%E6%A9%9F%E8%93%AC%E5%8B%83-055324594.html 綠能是門好生意 中科園區生機蓬勃
https://tw.stock.yahoo.com/news_content/url/d/a/20160507/%E5%8F%B0%E5%8C%97%E8%82%A1%E5%B8%82-%E6%90%B6%E6%8A%B1%E8%98%8B%E6%9E%9C%E9%8F%88-%E4%BB%8A%E5%B9%B4-%E5%A0%B4%E7%A9%BA-025624477.html 《台北股市》搶抱蘋果鏈，今年一場空
https://tw.stock.yahoo.com/news_content/url/d/a/20160506/%E5%85%AC%E5%91%8A-%E5%8F%B0%E7%A9%8D%E9%9B%BB%E4%BB%A3%E5%AD%90%E5%85%AC%E5%8F%B8-tsmc-global-ltd-095950473.html 【公告】台積電代子公司 TSMC Global Ltd. 取得BBT之普通公司債
https://tw.stock.yahoo.com/news_content/url/d/a/20160506/%E8%AD%89%E4%BA%A4%E6%89%80-%E4%BB%8A%E6%97%A5%E5%96%AE-%E8%AD%89%E5%88%B8%E9%89%85%E9%A1%8D%E6%88%90%E4%BA%A4%E8%82%A1%E7%A5%A8-%E9%B4%BB%E6%B5%B7-%E5%8F%B0%E7%A9%8D%E9%9B%BB-091645655.html 《證交所》今日單一證券鉅額成交股票：鴻海、台積電
https://beap.gemini.yahoo.com/mbclk?bv=1.0.0&es=uUS8cI8GIS8FAvQzmnCzcXoRL3VQimZHCK61CCRR2KAwUYx.0HOPnghHB04eOgXrTtWdelNvN1qmU1WtaEm6EwPYQhY1o9bTh2hAED8K56IK62LDLfDl7CufjsK1pOZl.l6gAeQlOHMJvRVYSmaO1.ugmK.bcSofI9SOZUGfcclS_KRSKH1z_4fMVS5TsIDkbzIT68rOCdxS6BjpL3k_3C7Na60shh9kVUd7XnyByyRFl0TdTIQkFvxfVNHzlzNWfr4XNbpKnjiu7H3JngE_K6F4DsWRdTkZIAYlb41PFvInef.rPKj.LaU2wjEfLrSQ3JQBRkbRAHIRZQ8Ml5iSmEvokXOvbLxPvSrinOquN_KEBlIPd8sDCDFHxedU7nk3Kljld4QfepuwQ51E.X292wCD_r31XCQMQryN4sN5QdkjjKbS7rzSdUkmYCKDMZesRC6C74V4.f3q1p9Hn9fd4SS3J8xcVfCaiyZ9flNV%26lp= 【台灣優良精品】無毒建材搶鋒頭！歐美住家指定使用
https://tw.emarketing.yahoo.com/ysmacq/project.html

## install info lite
- https://chrome.google.com/webstore/detail/infolite/ipjbadabbpedegielkhgpiekdlmfpgal/related

In [83]:
a = [1,2,3,4,5]
print a[0:2]
print a[1:4]

[1, 2]
[2, 3, 4]

## not recommend

In [89]:
import requests
from bs4 import BeautifulSoup
res= requests.get('https://tw.stock.yahoo.com/q/q?s=2330')

soup = BeautifulSoup(res.text)
tb = soup.select('table + table table')
tr = tb[0].select('tr')

th = tr[0].select('th')
td = tr[1].select('td')

for h, d in zip(th, td):
    print h.text,d.text

股票代號 2330台積電加到投資組合
時間 14:30
成交 148.0
買進 147.5
賣出 148.0
漲跌 △0.5

張數 36,528
昨收 147.5
開盤 148.5
最高 148.5
最低 147.0
個股資料
成交明細技術　新聞基本　籌碼個股健診

In [102]:
a = ['a', 'b', 'c']
b = [1,2,3]
#print len(a)
for i in range(0, len(a)):
    print a[i], b[i]
     
print zip(a, b)

for t in zip(a,b):
    print t
    
for t in zip(a,b):
    print t[0], t[1]
    
for t1,t2 in zip(a,b):
    print t1, t2

a 1
b 2
c 3
[('a', 1), ('b', 2), ('c', 3)]
('a', 1)
('b', 2)
('c', 3)
a 1
b 2
c 3
a 1
b 2
c 3

## recommend

In [92]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
res= requests.get('https://tw.stock.yahoo.com/q/q?s=2330')

soup = BeautifulSoup(res.text)
tb = soup.select('table + table table')
df = pd.read_html(tb[0].prettify('utf-8'), encoding= 'utf-8')
df[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,股票 代號,時間,成交,買進,賣出,漲跌,張數,昨收,開盤,最高,最低,個股資料
1,2330台積電 加到投資組合,14:30,148.0,147.5,148.0,△0.5,36528,147.5,148.5,148.5,147.0,成交明細 技術 新聞 基本 籌碼 個股健診
2,凱基證券下單,買 賣 張 零股交易,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## w3c school 
- http://www.w3schools.com/cssref/css_selectors.asp

## 投資信託暨顧問商業同業公會

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
rs = requests.session()
res = rs.get('http://www.sitca.org.tw/ROC/Industry/IN2212.aspx?pid=IN2222_02')
soup = BeautifulSoup(res.text)
payload = {
'ctl00$ContentPlaceHolder1$ddlQ_Y':'2016',
'ctl00$ContentPlaceHolder1$ddlQ_M':'3',
'ctl00$ContentPlaceHolder1$ddlQ_Fund':'00965469',
'ctl00$ContentPlaceHolder1$BtnQuery':'查詢'
}
for ele in soup.select('input[type==hidden]'):
    payload[ele['name']] = ele['value']
res2 = rs.post('http://www.sitca.org.tw/ROC/Industry/IN2212.aspx?pid=IN2222_02', data= payload)
soup = BeautifulSoup(res2.text)
dfs = pd.read_html(soup.select('table')[0].prettify('utf-8'), encoding = 'utf-8')

C:\Anaconda2\lib\site-packages\bs4\__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [1]:
print soup.select('table')[0].prettify('utf-8')

NameError: name 'soup' is not defined

In [9]:
stockdf = dfs[0]

In [10]:
stockdf.columns  = stockdf.iloc[5]

In [7]:
stockdf = stockdf.reindex(stockdf.drop([1,2,3,4,5]))

In [17]:
s1 = stockdf.drop([0,1,2,3,4,5,6])

In [21]:
s1[[u'基金名稱',u'委託買賣名次',u'券商',u'手續費金額', u'佔手續費總金額%',u'股票交易']]

5,基金名稱,委託買賣名次,券商,手續費金額,佔手續費總金額%,股票交易
7,兆豐國際第一基金,1,統一綜合證券,75715,42.87%,75911202
8,2,兆豐證券 (本公司之董事、監事、持股大於5%股東兆豐金融控股股份有限公司擔任該公司之董事、監...,58609,33.18%,58590594,58609
9,3,國票綜合證券,35706,20.22%,35679639,35706
10,4,永豐金證券,5489,3.11%,5498489,5489
11,5,日盛證券,1110,0.63%,1117434,1110

## cnyes news

In [4]:
import requests
res = requests.get('http://news.cnyes.com/wd_stock/list.shtml?ga=nav')
#print res.encoding
res.encoding='utf-8'

In [8]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(res.text)
for link in soup.select('.bd_dbottom li > a'):
    print link['href'], link.text

http://news.cnyes.com/Content/20160508/20160508082005000739632.shtml?c=headline 私有化招證監會約談？奇虎360：傳言與事實不符
http://news.cnyes.com/Content/20160507/20160507183802000714456.shtml?c=headline 林鄭月娥被中斷發言退保諮詢會提早結束
http://news.cnyes.com/Content/20160507/20160507174149000603253.shtml?c=headline SAVANNAH首日參觀人次料破萬
http://news.cnyes.com/Content/20160507/20160507174149000030872.shtml?c=headline 慧聰網售內地附屬予上海鋼聯 下周一復牌
http://news.cnyes.com/Content/20160507/20160507173800000513789.shtml?c=headline 團體退休保障諮詢會外請願批評政府漠視民意
http://news.cnyes.com/Content/20160507/20160507173144000149859.shtml?c=headline 恆大減持盛京銀行H股 華置69億接盤
http://news.cnyes.com/Content/20160507/20160507172153000698453.shtml?c=headline 嘉能可擬再洽售農業部門9.9%股權
http://news.cnyes.com/Content/20160507/20160507171358000467271.shtml?c=headline MEGAEXPO終止收購Ultraman知識產權
http://news.cnyes.com/Content/20160507/20160507171150000540807.shtml?c=headline 雨潤附屬償還10億人民幣中期票據存不確定
http://news.cnyes.com/Content/20160507/20160507171150000200858.shtml?c=headline 北京汽車4月總銷售量按年升13%
http://news.cnyes.com/Content/20160507/20160507171150000134634.shtml?c=headline 民生國際發盈喜
http://news.cnyes.com/Content/20160507/20160507171149000915553.shtml?c=headline 建福集團發盈警
http://news.cnyes.com/Content/20160507/20160507170153000549253.shtml?c=headline 香港食品投資發盈警
http://news.cnyes.com/Content/20160507/20160507170153000903076.shtml?c=headline 四洲集團發盈警
http://news.cnyes.com/Content/20160507/20160507170152000122792.shtml?c=headline 圓美光電申膚轉主板上市
http://news.cnyes.com/Content/20160507/20160507170152000507769.shtml?c=headline 融信資源大折讓2供1籌3563萬元
http://news.cnyes.com/Content/20160507/20160507170152000268095.shtml?c=headline 太平洋實業控股股東獲第三方洽購股份
http://news.cnyes.com/Content/20160507/20160507165103000533419.shtml?c=headline 南大蘇富特3個月虧損擴大了
http://news.cnyes.com/Content/20160507/20160507164142000382669.shtml?c=headline 中國糖果首季轉蝕81萬人民幣
http://news.cnyes.com/Content/20160507/20160507164142000256495.shtml?c=headline 緬甸邊境炸藥倉庫爆炸波及雲南多人傷
http://news.cnyes.com/Content/20160507/20160507163758000814534.shtml?c=headline 宏峰太平洋首季少賺18% 靠網絡銷售突圍
http://news.cnyes.com/Content/20160507/20160507163145000772711.shtml?c=headline 創維數碼今年電視機銷售目標1700萬部
http://news.cnyes.com/Content/20160507/20160507162604000781393.shtml?c=headline 宏創高科3個月虧損縮改善靠放債業務
http://news.cnyes.com/Content/20160507/20160507161401000877478.shtml?c=headline 上海醫藥附屬與日最大漢方藥生產商組合資
http://news.cnyes.com/Content/20160507/20160507161149000504781.shtml?c=headline 新宇國際3個月多賺4.9%
http://news.cnyes.com/Content/20160507/20160507154956000047531.shtml?c=headline 上海醫藥董事長樓定波請辭
http://news.cnyes.com/Content/20160507/20160507154956000928606.shtml?c=headline 香港珠寶首季仍虧 經濟令集團業務復甦遲緩
http://news.cnyes.com/Content/20160507/20160507154956000510899.shtml?c=headline 易通訊季度少賺38%
http://news.cnyes.com/Content/20160507/20160507154143000478682.shtml?c=headline 銀合配股籌1560萬 擬強化委託貸款
http://news.cnyes.com/Content/20160507/20160507153140000870415.shtml?c=headline 景瑞控股首4個月合約銷售逾40億人民幣
http://news.cnyes.com/Content/20160507/20160507153140000165699.shtml?c=headline 中國城建集團考慮分拆業務上創業板
http://news.cnyes.com/Content/20160507/20160507152141000543538.shtml?c=headline 海天天?展開無人機產品等應用
http://news.cnyes.com/Content/20160507/20160507152559000485887.shtml?c=headline 差估署被拖欠逾億元差餉陳家強稱須釐定工作次序
http://news.cnyes.com/Content/20160507/20160507151351000072181.shtml?c=headline 首都金融發盈喜
http://news.cnyes.com/Content/20160507/20160507151144000517927.shtml?c=headline 匯聯金融服務發盈喜
http://news.cnyes.com/Content/20160507/20160507151143000935927.shtml?c=headline 中國新電信發盈喜
http://news.cnyes.com/Content/20160507/20160507151143000507426.shtml?c=headline 首華財經網絡首季蝕錢 續尋商機
http://news.cnyes.com/Content/20160507/20160507150156000823472.shtml?c=headline 鼎石資本首季賺464萬
http://news.cnyes.com/Content/20160507/20160507144950000772473.shtml?c=headline 神州資源向一內地人配股只籌近千萬
http://news.cnyes.com/Content/20160507/20160507144950000761260.shtml?c=headline 億和精密獲中銀2億分期貸款

## 使用read_html 讀取表格

In [14]:
table = """
<table> 
    <thead> 
        <tr> 
        <th>Month</th>  
        <th>Savings</th> 
        </tr> 
    </thead> 
    <tbody> 
        <tr> <td>January</td> <td>$100</td></tr> 
        <tr> <td>February</td> <td>$80</td></tr> 
    </tbody> 
    <tfoot> 
        <tr> <td>Sum</td> <td>$180</td> </tr> 
    </tfoot> 
</table>
"""
from bs4 import BeautifulSoup
soup = BeautifulSoup(table)
tb =  soup.select('table')[0]
for tr in tb.select('tr'):
    if len(tr.select('th')) >0:
        for th in tr.select('th'):
            print th.text,
        print
    if len(tr.select('td')) >0:
        for td in tr.select('td'):
            print td.text,
        print

Month Savings
January $100
February $80
Sum $180

In [18]:
table = """
<table> 
    <thead> 
        <tr> 
        <th>Month</th>  
        <th>Savings</th> 
        </tr> 
    </thead> 
    <tbody> 
        <tr> <td>January</td> <td>$100</td></tr> 
        <tr> <td>February</td> <td>$80</td></tr> 
    </tbody> 
    <tfoot> 
        <tr> <td>Sum</td> <td>$180</td> </tr> 
    </tfoot> 
</table>
"""
import pandas as pd
dfs = pd.read_html(table)
dfs[0]

      Month Savings
0   January    $100
1  February     $80
2       Sum    $180

## 在Anaconda Prompt下執行
- pip install html5lib
- 要把jupyter notebook 重啟

In [3]:
import requests
from bs4 import BeautifulSoup
res = requests.get('https://tw.stock.yahoo.com/q/q?s=2330')
soup = BeautifulSoup(res.text)
tb = soup.select('table + table table')[0]
#print tb

In [10]:
import pandas as pd
print type(tb)
print type(tb.prettify('utf-8'))
dfs = pd.read_html(tb.prettify('utf-8'), encoding = 'utf-8')
dfs[0]

<class 'bs4.element.Tag'>
<type 'str'>

,0,1,2,3,4,5,6,7,8,9,10,11
0,股票 代號,時間,成交,買進,賣出,漲跌,張數,昨收,開盤,最高,最低,個股資料
1,2330台積電 加到投資組合,14:30,148.0,147.5,148.0,△0.5,36528,147.5,148.5,148.5,147.0,成交明細 技術 新聞 基本 籌碼 個股健診
2,凱基證券下單,買 賣 張 零股交易,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
stockdf = dfs[0]
stockdf.columns =  stockdf.iloc[0] # 把第0列當成是欄位名稱

In [15]:
#stockdf
stockdf = stockdf.drop([0,2])
stockdf

,股票 代號,時間,成交,買進,賣出,漲跌,張數,昨收,開盤,最高,最低,個股資料
1,2330台積電 加到投資組合,14:30,148.0,147.5,148.0,△0.5,36528,147.5,148.5,148.5,147.0,成交明細 技術 新聞 基本 籌碼 個股健診

In [16]:
stockdf[u'成交']

1    148.0
Name: 成交, dtype: object

## PANDAS

In [26]:
name = 'david'
age = '32'

names  = ['david', 'may', 'john']
ages   = ['30', '23', '27']

import pandas
people = [['frank', 'M', 29], ['mary', 'F', 23], ['tom', 'M', 35], ['ted', 'M', 33], ['jean', 'F', 21], ['lisa', 'F', 20]]
df = pandas.DataFrame(people)
df

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [25]:
print df[[0]] # get data by first column
print df.ix[0] # get data by first row

       0
0  frank
1   mary
2    tom
3    ted
4   jean
5   lisa
0    frank
1        M
2       29
Name: 0, dtype: object

In [27]:
df.columns = ['name', 'gender', 'age']
df

    name gender  age
0  frank      M   29
1   mary      F   23
2    tom      M   35
3    ted      M   33
4   jean      F   21
5   lisa      F   20

In [29]:
df['name']
df[['name', 'gender']]

    name gender
0  frank      M
1   mary      F
2    tom      M
3    ted      M
4   jean      F
5   lisa      F

In [30]:
df.describe()

             age
count   6.000000
mean   26.833333
std     6.400521
min    20.000000
25%    21.500000
50%    26.000000
75%    32.000000
max    35.000000

In [35]:
print df['gender'] 
print df['gender'] == 'M'
print df[df['gender'] == 'M']

0    M
1    F
2    M
3    M
4    F
5    F
Name: gender, dtype: object
0     True
1    False
2     True
3     True
4    False
5    False
Name: gender, dtype: bool
    name gender  age
0  frank      M   29
2    tom      M   35
3    ted      M   33

In [37]:
df[df['gender'] == 'M']['age'].mean()
df[df['gender'] == 'M'].mean()

age    32.333333
dtype: float64

In [38]:
df['height'] = 172

In [39]:
df

    name gender  age  height
0  frank      M   29     172
1   mary      F   23     172
2    tom      M   35     172
3    ted      M   33     172
4   jean      F   21     172
5   lisa      F   20     172

In [43]:
df[df['gender'] == 'M']['age'].mean()
df[df['gender'] == 'M'].mean()
#dir(df)

age        32.333333
height    172.000000
dtype: float64

In [44]:
print df[df['gender'] == 'M']['age'].mean()
print df[df['gender'] == 'F']['age'].mean()

32.3333333333
21.3333333333

In [45]:
df.groupby('gender')['age'].mean()

gender
F    21.333333
M    32.333333
Name: age, dtype: float64

## 三大法人買賣超日報資訊

In [83]:
import requests
url = 'http://www.twse.com.tw/ch/trading/fund/T86/T86.php'
payload = {
'qdate':'105/05/06',
'select2':'24',
'sorting':'by_issue'    
}
res = requests.post( url, data=payload )
#print res

In [84]:
from bs4 import BeautifulSoup as bs 
#soup = BeautifulSoup(res.text)
soup = bs(res.text)
tb = soup.select('#tbl-sortable')[0]

In [85]:
import pandas as pd
# use prettify to convert object from tag to str
dfs = pd.read_html(tb.prettify('utf-8'), encoding = 'utf-8')
print type(dfs) # check the type of an object
print len(dfs)

<type 'list'>
1

In [86]:
stockdf = dfs[0]

In [87]:
stockdf.head()

,證券 代號,證券 名稱,外資 買進股數,外資 賣出股數,外資 買賣超股數,投信 買進股數,投信 賣出股數,投信 買賣超股數,自營商 買賣超股數,自營商 買進股數 (自行買賣),自營商 賣出股數 (自行買賣),自營商 買賣超股數 (自行買賣),自營商 買進股數 (避險),自營商 賣出股數 (避險),自營商 買賣超股數 (避險),三大法人 買賣超股數
0,3474,華亞科,5865836,3726000,2139836,0,0,0,-4000,0,0,0,0,4000,-4000,2135836
1,2408,南亞科,2755000,1194000,1561000,0,0,0,104000,1000,0,1000,106000,3000,103000,1665000
2,2449,京元電,6490000,5054000,1436000,144000,443000,-299000,131000,42000,77000,-35000,509000,343000,166000,1268000
3,2458,義隆,818000,289000,529000,0,0,0,-46000,12000,34000,-22000,63000,87000,-24000,483000
4,3545,敦泰,604000,176000,428000,0,0,0,-6000,0,4000,-4000,12000,14000,-2000,422000

In [88]:
stockdf.describe()

,證券 代號,外資 買進股數,外資 賣出股數,外資 買賣超股數,投信 買進股數,投信 賣出股數,投信 買賣超股數,自營商 買賣超股數,自營商 買進股數 (自行買賣),自營商 賣出股數 (自行買賣),自營商 買賣超股數 (自行買賣),自營商 買進股數 (避險),自營商 賣出股數 (避險),自營商 買賣超股數 (避險),三大法人 買賣超股數
count,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000
mean,3996.788732,1468625.929577,2238486.436620,-769860.507042,9521.126761,59154.929577,-49633.802817,14197.183099,20605.633803,19704.225352,901.408451,45084.507042,31788.732394,13295.774648,-805297.126761
std,1892.374102,4596145.702459,6915952.326882,2968397.153022,30858.135836,291425.935109,287705.367120,115016.721731,51232.377841,54260.586687,47299.699464,121813.528041,96348.462141,83966.216738,2955181.742567
min,2302.000000,0.000000,0.000000,-15578580.000000,0.000000,0.000000,-2350000.000000,-531000.000000,0.000000,0.000000,-302000.000000,0.000000,0.000000,-229000.000000,-15518580.000000
25%,2435.000000,10500.000000,17500.000000,-116000.000000,0.000000,0.000000,0.000000,-3500.000000,0.000000,0.000000,-3500.000000,0.000000,0.000000,0.000000,-151500.000000
50%,3413.000000,51000.000000,86000.000000,-6000.000000,0.000000,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-17000.000000
75%,5277.000000,310303.000000,312500.000000,16500.000000,0.000000,0.000000,0.000000,4000.000000,10000.000000,12000.000000,1500.000000,5000.000000,4000.000000,0.000000,10000.000000
max,8271.000000,30192917.000000,36329176.000000,2139836.000000,148000.000000,2350000.000000,132000.000000,616000.000000,270000.000000,350000.000000,115000.000000,640000.000000,585000.000000,541000.000000,2135836.000000

In [89]:
stockdf.columns

Index([u'證券  代號', u'證券  名稱', u'外資  買進股數', u'外資  賣出股數', u'外資  買賣超股數',
       u'投信  買進股數', u'投信  賣出股數', u'投信  買賣超股數', u'自營商  買賣超股數',
       u'自營商  買進股數  (自行買賣)', u'自營商  賣出股數  (自行買賣)', u'自營商  買賣超股數  (自行買賣)',
       u'自營商  買進股數  (避險)', u'自營商  賣出股數  (避險)', u'自營商  買賣超股數  (避險)',
       u'三大法人  買賣超股數'],
      dtype='object')

In [97]:
#stockdf[u'外資  買賣超股數']
#stockdf[u'外資  買賣超股數'].max()
stockdf[stockdf[u'外資  買賣超股數']==stockdf[u'外資  買賣超股數'].max()]

,證券 代號,證券 名稱,外資 買進股數,外資 賣出股數,外資 買賣超股數,投信 買進股數,投信 賣出股數,投信 買賣超股數,自營商 買賣超股數,自營商 買進股數 (自行買賣),自營商 賣出股數 (自行買賣),自營商 買賣超股數 (自行買賣),自營商 買進股數 (避險),自營商 賣出股數 (避險),自營商 買賣超股數 (避險),三大法人 買賣超股數
0,3474,華亞科,5865836,3726000,2139836,0,0,0,-4000,0,0,0,0,4000,-4000,2135836

In [101]:
stockdf.sort_values( by= u'外資  買賣超股數', ascending=False)
stockdf.sort_values( by= u'外資  買賣超股數', ascending=False).head(3)

,證券 代號,證券 名稱,外資 買進股數,外資 賣出股數,外資 買賣超股數,投信 買進股數,投信 賣出股數,投信 買賣超股數,自營商 買賣超股數,自營商 買進股數 (自行買賣),自營商 賣出股數 (自行買賣),自營商 買賣超股數 (自行買賣),自營商 買進股數 (避險),自營商 賣出股數 (避險),自營商 買賣超股數 (避險),三大法人 買賣超股數
0,3474,華亞科,5865836,3726000,2139836,0,0,0,-4000,0,0,0,0,4000,-4000,2135836
1,2408,南亞科,2755000,1194000,1561000,0,0,0,104000,1000,0,1000,106000,3000,103000,1665000
2,2449,京元電,6490000,5054000,1436000,144000,443000,-299000,131000,42000,77000,-35000,509000,343000,166000,1268000

In [150]:
from datetime import datetime
print datetime.now()
# using strftime to convert from time to string
print datetime.now().strftime('%Y-%m-%d')

# using strptime to convert from stirng to time
dt = '2016/03/02'
print datetime.strptime(dt, '%Y/%m/%d')

2016-05-08 16:24:31.687000
2016-05-08
2016-03-02 00:00:00

In [156]:
from datetime import datetime, timedelta
print datetime.now() - timedelta(days = 1)
for i in range(1,10):
    print i
    dt = datetime.now() - timedelta(days = i)
    print dt.strftime('%Y-%m-%d')

2016-05-07 16:27:16.584000
1
2016-05-07
2
2016-05-06
3
2016-05-05
4
2016-05-04
5
2016-05-03
6
2016-05-02
7
2016-05-01
8
2016-04-30
9
2016-04-29

In [161]:
from datetime import datetime, timedelta
#https://docs.python.org/2/library/datetime.html
for i in range(1,10):
    dt = datetime.now() - timedelta(days = i)
    year = dt.strftime('%Y')
    monthdate = dt.strftime('%m/%d')
    #print type(year)
    year =  int(year) - 1911
    print '{}/{}'.format(year, monthdate)
    #, monthdate

105/05/07
105/05/06
105/05/05
105/05/04
105/05/03
105/05/02
105/05/01
105/04/30
105/04/29

In [163]:

payload = {
'qdate':'105/05/06',
'select2':'24',
'sorting':'by_issue'    
}
print payload['qdate']
payload['qdate'] = '105/04/29'
print payload

105/05/06
{'qdate': '105/04/29', 'sorting': 'by_issue', 'select2': '24'}

In [168]:
def getTWDate(dt):
    year = int(dt.strftime('%Y')) - 1911
    monthdate = dt.strftime('%m/%d')
    ymd = '{}/{}'.format(year, monthdate)
    return ymd

getTWDate(datetime.now())

'105/05/08'

In [169]:
def getTradingVolume(dt):
    payload['qdate'] = getTWDate(dt)
    res = requests.post('http://www.twse.com.tw/ch/trading/fund/T86/T86.php', data=payload)
    soup = bs(res.text, 'html5lib')
    tbl = soup.select('#tbl-sortable')[0]
    dfs = pd.read_html(tbl.prettify('utf-8'), encoding='utf-8')
    stockdf = dfs[0]
    stockdf['ymd'] = dt
    return stockdf

In [170]:
#print datetime.now().date()

In [180]:
from datetime import datetime, timedelta
currentdate = datetime.now()
dftotal = []
for i in range(1,10): # use range to control days
    dt = currentdate.date() - timedelta(days = i)
    df = getTradingVolume(dt)
    dftotal.append(df)

In [181]:
import pandas as pd
stockdf = pd.concat(dftotal, ignore_index=True)

In [182]:
stockdf.count()

證券  代號                350
證券  名稱                350
外資  買進股數              350
外資  賣出股數              350
外資  買賣超股數             350
投信  買進股數              350
投信  賣出股數              350
投信  買賣超股數             350
自營商  買賣超股數            350
自營商  買進股數  (自行買賣)     350
自營商  賣出股數  (自行買賣)     350
自營商  買賣超股數  (自行買賣)    350
自營商  買進股數  (避險)       350
自營商  賣出股數  (避險)       350
自營商  買賣超股數  (避險)      350
三大法人  買賣超股數           350
ymd                   350
dtype: int64

In [184]:
stockdf[stockdf[u'證券  代號'] == 2330]
stockdf[stockdf[u'證券  代號'] == 2330].describe()

,證券 代號,外資 買進股數,外資 賣出股數,外資 買賣超股數,投信 買進股數,投信 賣出股數,投信 買賣超股數,自營商 買賣超股數,自營商 買進股數 (自行買賣),自營商 賣出股數 (自行買賣),自營商 買賣超股數 (自行買賣),自營商 買進股數 (避險),自營商 賣出股數 (避險),自營商 買賣超股數 (避險),三大法人 買賣超股數
count,5,5.000000,5.00000,5.000000,5.00000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,2330,26403069.400000,50932738.20000,-24529668.800000,31000.00000,360800.000000,-329800.000000,1419600.000000,1235400.00000,130800.000000,1104600.000000,631400.000000,316400.000000,315000.000000,-23439868.800000
std,0,7956224.327653,14070043.41484,15747340.910085,53837.71912,482928.773216,508385.385313,914683.715827,649342.97563,72441.010484,653132.299002,390584.561907,80214.088538,359648.439452,15202874.302711
min,2330,16652487.000000,36329176.00000,-47307028.000000,0.00000,19000.000000,-1187000.000000,123000.000000,270000.00000,37000.000000,68000.000000,307000.000000,195000.000000,2000.000000,-45206028.000000
25%,2330,23512540.000000,37758202.00000,-28496849.000000,7000.00000,53000.000000,-373000.000000,1010000.000000,1045000.00000,98000.000000,1008000.000000,337000.000000,282000.000000,55000.000000,-27643849.000000
50%,2330,23891785.000000,50354331.00000,-26841791.000000,10000.00000,165000.000000,-155000.000000,1451000.000000,1379000.00000,111000.000000,1268000.000000,404000.000000,348000.000000,112000.000000,-25986791.000000
75%,2330,30192917.000000,63959515.00000,-13866417.000000,11000.00000,380000.000000,-8000.000000,2040000.000000,1437000.00000,202000.000000,1339000.000000,989000.000000,355000.000000,634000.000000,-12341417.000000
max,2330,37765618.000000,66262467.00000,-6136259.000000,127000.00000,1187000.000000,74000.000000,2474000.000000,2046000.00000,206000.000000,1840000.000000,1120000.000000,402000.000000,772000.000000,-6021259.000000

## read_html get yahoo stock

In [67]:
import pandas as pd
dfs = pd.read_html('https://tw.stock.yahoo.com/q/q?s=2330')
dfs[6]

## Crawl MI_INDEX

In [71]:
import requests
url ='http://www.twse.com.tw/ch/trading/exchange/MI_INDEX/MI_INDEX.php'
payload ={
'qdate':'105/05/06',
'selectType':'ALLBUT0999'
}
res = requests.post(url,data=payload)
print res

<Response [200]>

In [73]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text)
tb = soup.select('br + table')[0]
dfs = pd.read_html(tb.prettify('utf-8'), encoding = 'utf-8')

In [75]:
stockdf = dfs[0]

In [77]:
print "thireojr oejroi ejrioej roiej o\
ierjoe reojr eoj eoirj orj oe"

thireojr oejroi ejrioej roiej oierjoe reojr eoj eoirj orj oe

In [80]:
stockdf.columns = ['證券代號','證券名稱','成交股數','成交筆數',\
                   '成交金額','開盤價','最高價','最低價','收盤價','漲跌(+/-)',\
                   '漲跌價差','最後揭示買價','最後揭示買量','最後揭示賣價','最後揭示賣量',\
                   '本益比']

In [82]:
stockdf.describe()

,成交股數,成交筆數,成交金額,漲跌價差,最後揭示買量,最後揭示賣量,本益比
count,9.450000e+02,945.000000,9.450000e+02,945.000000,945.000000,945.000000,945.000000
mean,2.277625e+06,763.153439,8.760069e+07,0.535238,70.133333,41.007407,24.221037
std,7.668226e+06,1873.771820,3.620729e+08,1.534058,414.957226,174.330180,109.305003
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,7.401100e+04,37.000000,1.213277e+06,0.050000,3.000000,2.000000,3.530000
50%,2.840990e+05,129.000000,5.852519e+06,0.150000,8.000000,5.000000,11.680000
75%,1.072330e+06,545.000000,3.570804e+07,0.400000,27.000000,16.000000,18.160000
max,1.163083e+08,21269.000000,5.824460e+09,30.000000,10327.000000,2487.000000,2430.000000

## cnyes analysis

In [103]:
print range(1,10)
for i in range(1,10):
    print i

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6
7
8
9

In [105]:
a = 'Hi my name is {}'
a.format('david')

'Hi my name is david'

In [113]:
a = '              da              ddd          '
print a.strip()

da              ddd

In [112]:
def getNewsText(url):
    res = requests.get(url)
    res.encoding = 'utf-8'
    soup = bs(res.text)
    article = soup.select('#newsText')[0].text.strip()
    return article

print getNewsText('http://news.cnyes.com/Content/20160507/20160507144148000852043.shtml?c=headline')

陽光能源(00757-HK)公告，向由由執行董事譚鑫擁有35%股權的錦州吉興(賣方)，收購位於遼寧省錦州市的國有土地使用權連同其上建設的工廠大樓及處所，交易代價為800萬元(人民幣.下同)。該土地總面積為1.76萬平方米，現時為工業用途，賣方原來之收購成本價為275.3萬元。董事認為收購事項是集團絕佳的投資機會，可提供更多工作空間，配合集團光伏組件銷售的預期拓展。
更多精彩內容 請登陸財華智庫網 (http://www.finet.com.cn) 財華香港網 (http://www.finet.hk)或現代電視 (http://www.fintv.com)

In [116]:
import requests
from bs4 import BeautifulSoup as bs
url = 'http://news.cnyes.com/wd_stock/list_{}.shtml'


newslist = []
for i in range(1,15):
    res = requests.get(url.format(i))
    res.encoding = 'utf-8'
    soup = bs(res.text)
    for alink in soup.select('.bd_dbottom li > a'):
        newslist.append({'title':alink.text, 'link':alink['href'], 'article':getNewsText(alink['href'])})
    print i,

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [121]:
import pandas as pd
df = pd.DataFrame(newslist)
df.head()

,article,link,title
0,陽光能源(00757-HK)公告，向由由執行董事譚鑫擁有35%股權的錦州吉興(賣方)，收購位...,http://news.cnyes.com/Content/20160507/2016050...,陽光能源購錦州廠地配合光伏業務發展
1,全國人大委員長張德江將會在本月中訪港，全國港澳研究會副會長劉兆佳表示，相信張德江訪港有四個目...,http://news.cnyes.com/Content/20160507/2016050...,劉兆佳估計張德江來港為突顯中央堅持一國兩制
2,央行今日公布4月外儲數據，4月外?儲備32190億美元，預期32040億美元，前值32126...,http://news.cnyes.com/Content/20160507/2016050...,中國4月外?儲備32190億 小幅上升64億美元
3,年初的暴跌行情結束之後，經曆了三個月的反彈震盪行情，市場信心似乎也有所修複回穩，近期有多只基...,http://news.cnyes.com/Content/20160507/2016050...,新基金發行回暖 保本基金占比4成以上
4,據財新訊，央行在《2016年第一季度中國貨幣政策執行報告》中分析稱，國際上，美聯儲後續加息節...,http://news.cnyes.com/Content/20160507/2016050...,央行：經濟金融領域風險暴露增多

In [120]:
import jieba
for ele in jieba.cut('巴菲特旗下伯克希爾·哈撒韋股東大會在「股神」的家鄉奧馬哈舉行'):
    print ele,

巴菲特 旗下 伯克希爾 · 哈撒 韋股 東大會 在 「 股神 」 的 家 鄉 奧馬哈 舉行

In [134]:
corpus =[]
titles = []
for news in newslist:
    titles.append(news['title'])
    corpus.append(' '.join(jieba.cut(news['article'])))

In [135]:
print titles[1]
print corpus[1]

劉兆佳估計張德江來港為突顯中央堅持一國兩制
全國 人大 委員長 張 德江 將會 在 本月 中訪 港 ， 全國 港澳 研究 會 副 會長 劉兆佳 表示 ， 相信 張 德江 訪港 有 四個 目標 ， 中央 希望 藉此 表示 仍然 關懷 香港 人 的 福祉 ， 其次 是 要 突顯 中央 對 一國 兩制 仍然 堅持 ， 並嚴格 遵守 過去 的 規則 。 第三 是 強調 國家 發展 對 香港 發展 的 重要性 ， 第四 就是 要 強化 港人 的 信心 ， 在 制度 上 仍 有 優勢 ， 可 在 國家 新 一輪 發展 中 扮演 角色 。 劉兆佳 又 指 ， 中央 對港 獨現 時 未 看 得 很 嚴重 ， 不認 為 是 一股 龐大 政治 勢力 ， 只是 擔憂 若 不 遏止 的 話 ， 港獨會 在 青年人 之間 蔓延 ， 形成 一種 政治 或 社會 運動 ， 對 中港 關 係 、 香港 的 穩定 不利 。 他 指 原則 上 及 感情 上 ， 中央 難以 接受 港 獨主張 ， 因為 是 否定 中央 對 香港 的 主權 及 有 分裂 國家 的 意味 ， 中央 會強 調國 家主 權及 統一 的 重要性 ， 但 未必 會花 篇幅 去 抨擊 。
 更 多 精彩 內容   請 登陸 財華智 庫網   ( http : / / www . finet . com . cn )   財華 香港 網   ( http : / / www . finet . hk ) 或 現代電視   ( http : / / www . fintv . com )

In [136]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
X=vectorizer.fit_transform(corpus)
word=vectorizer.get_feature_names()

In [139]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer=TfidfTransformer()
X=vectorizer.fit_transform(corpus)
tfidf=transformer.fit_transform(X)
weight=tfidf.toarray()
word=vectorizer.get_feature_names()

In [146]:
from sklearn.metrics.pairwise import linear_kernel

def getSimiliarArticle(idx):
    print "[查詢文章]:" , titles[idx]
    cosine_similarities = linear_kernel(tfidf[idx],tfidf).flatten()
    related_docs_indices = cosine_similarities.argsort()[::-1]
    for doc in related_docs_indices[1:]:
        if cosine_similarities[doc] >= 0.1:
            print "[相似文章]:", titles[doc], cosine_similarities[doc]
getSimiliarArticle(6)

[查詢文章]: 上市券商4月業績出爐 東北證券營收為負值
[相似文章]: 國投安信：安信證券4月淨利潤環比增長32.25% 0.368017587511
[相似文章]: 廣發證券母公司4月淨利潤環比下降24% 0.292799267319
[相似文章]: 國泰君安母公司4月淨利潤環比下降五成 0.291879937283
[相似文章]: 海通證券母公司4月淨利潤環比下降55% 0.290935000219
[相似文章]: 快訊：券商板塊走強 山西證券率先翻紅 0.278882794239
[相似文章]: 05月05日龍虎榜：巨量換手揭示賽福天主力或有大動作 0.266334504975
[相似文章]: 國海證券母公司4月淨利潤環比下降60.93% 0.265175818926
[相似文章]: 華泰證券母公司4月淨利潤環比下降23% 0.247205083933
[相似文章]: 中信証券4月淨利潤下跌77% 0.240041564678
[相似文章]: 05月05日龍虎榜：主力資金大幅建倉青山紙業 0.224430612545
[相似文章]: 05月05日龍虎榜：聯儲證券有限責任公司客戶資產管理部操作個股 0.223524388608
[相似文章]: 05月05日龍虎榜：揭秘天鵝股份因何連續三日上漲超20% 0.216483497919
[相似文章]: 中信証券4月份淨利潤5.5億元人民幣 按年跌77% 0.213477633026
[相似文章]: 晚間公告：中通客車銷量同增7成 暴風科技復牌 0.212306488591
[相似文章]: 05月05日龍虎榜：主力資金連續五日搶籌個股名單一覽 0.207958945921
[相似文章]: 05月05日龍虎榜：主力資金連續三日搶籌個股名單一覽 0.195456773456
[相似文章]: 05月05日龍虎榜：主力資金連續五日出逃個股名單一覽 0.176188778805
[相似文章]: 海通證券：經濟複蘇乏力 趨勢仍需觀察 0.136662464444
[相似文章]: 龍虎榜點評： 勝宏科技4天怒封3漲停 知名游資齊發力 0.114167257812
[相似文章]: 中國4月外?儲備32190億 小幅上升64億美元 0.101559803881

In [133]:
import jieba 
ary=['【更新】柯P：洪智坤洩漏公文案還沒看到公文今處理',
     '留洪智坤柯：殘障求職不易',
     '人事處議處洪智坤柯P：不清楚議處結果']
jieba.add_word('洪智坤')
corpus=[]
for title in ary:
    corpus.append(' '.join(jieba.cut(title)))

from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
X=vectorizer.fit_transform(corpus)

word=vectorizer.get_feature_names()
for w in word:
    print w, 
print 
print X.toarray()

不易 人事 今處理 公文 更新 案還 殘障 求職 洩漏 洪智坤 清楚 看到 結果 處議 議處
[[0 0 1 2 1 1 0 0 1 1 0 1 0 0 0]
 [1 0 0 0 0 0 1 1 0 1 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 1 1 0 1 1 1]]